services:
  mongodb:
    image: mongo
    container_name: ecommerce-db
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: ecommerce
    volumes:
      - mongodb_data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    networks:
      - ecommerce-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  product-service:
    build:
      context: ./product-service
      dockerfile: Dockerfile
    container_name: product-service
    restart: unless-stopped
    environment:
      PORT: 3001
      MONGO_URI: mongodb://admin:admin123@mongodb:27017/ecommerce?authSource=admin
      NODE_ENV: development
    volumes:
      - ./product-service:/app
      - /app/node_modules
    networks:
      - ecommerce-network
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3001/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    restart: unless-stopped
    # ports:
    #   - "5001:5000"
    environment:
      PORT: 5000
      MONGO_URI: mongodb://admin:admin123@mongodb:27017/ecommerce?authSource=admin
      FLASK_ENV: development
    ports:
      - "5001:5000"
    volumes:
      - ./user-service:/app
    networks:
      - ecommerce-network
    depends_on:
      mongodb:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:5001/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - ecommerce-network
    depends_on:
      - product-service
      - user-service
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8080/api
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - /app/node_modules
    networks:
      - ecommerce-network
    depends_on:
      - api-gateway
    stdin_open: true
    tty: true
    


networks:
  ecommerce-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local